fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
httpx==0.27.0
python-dotenv==1.0.1
orjson==3.10.1
google-generativeai==0.3.2
passlib[bcrypt]
python-jose
python-multipart
python-dotenv
tensorflow==2.15.1
tensorflow-hub==0.16.1
tensorflow-text==2.15.0