<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karbon Ayak İzi - Beslenme Alışkanlıkları</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

  <header>
    <div>
      <img src="../img/logo.png" alt="Logo" style="height: 32px;">
    </div>
    <nav>
      <a href="#">Anasayfa</a>
      <a href="#">Rozetler</a>
      <a href="#">Skor</a>
      <a href="#">Biz Kimiz</a>
    </nav>

  </header>

  <section class="section2">
    <div class="question-block">
      <h2>ARCADIA: Günlük Karbon Ayak İzi Düzeyi</h2>
      <p>Gün içinde beslenme alışkanlıklarınızı, ulaşım şeklinizi ve mesafenizi, atıkları ayrıştırma düzeyinizi, paketli-işlenmiş gıda tüketim oranınızı, konut tipiniz, elektrik ve enerji kullanma oranınız gibi günlük tüketim alışkanlıklarınız ile ilgili bilgileri yazınız. <br>
         (Örneğin: "Bir öğünümde et ve süt ürünleri ile beslendim, Ulaşımı aracımla sağladım, Yemek hazırlamaya zamanım olmadığı için diğer öğünlerimde paketli ürünler yedim")</p>
      <textarea class="input-text-style" rows="6" placeholder="Alışkanlıklarınızı yazınız..."></textarea>
    </div>
    <div class="box" style="margin-top: 24px;">
      <button class="cta-button">Analiz</button>
    </div>
  </section>

</body>
</html>
